asgiref==3.2.3
astroid==2.3.3
astropy==4.0
autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
deepscan==0.65
Django==3.0.2
django-ckeditor==5.8.0
django-filter==2.2.0
django-js-asset==1.2.2
djangorestframework==3.11.0
get==2019.4.13
idna==2.8
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
matplotlib==3.1.2
mccabe==0.6.1
numpy==1.18.1
pandas==0.25.3
Pillow==7.0.0
post==2019.4.13
psycopg2==2.8.4
public==2019.4.13
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
scipy==1.4.1
Shapely==1.6.4.post2
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
wrapt==1.11.2
